# Dart/Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
pubspec.lock

# Dart Frog
backend/.dart_frog/

# Firebase
.firebase/
**/google-services.json
**/GoogleService-Info.plist

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db
